.bi-battery{
    color: rgb(255, 23, 23);
    margin: 20px;
    font-size: 100px;
    padding: 20px;
}


.bi-battery-low{
    color: rgb(255, 201, 52);
    margin: 20px;
    font-size: 125px;
    padding: 20px;
}
.bi-battery-full{
    color: rgb(18, 255, 38);
    margin: 20px;
    font-size: 150px;
    padding: 20px;
}